<html ng-app="laso">
  <head>
    <title>LASO - Legislative Aide Services</title>
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/laso_controllers.js"></script>
    <script src="js/laso_services.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="basic.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <div class="pure-menu pure-menu-horizontal">
      <a href="#" class="logo_bar">
      <img class="logo" src="laso.png" alt="Laso" />
      </a>
    </div>
  </head>
  <body>

    <div class="pure-g">
      <div id="document_modal" class="item pure-u-1 modal">
        <div class="modal_content" ng-controller="Docs">
          <div class="boxname">
            Documents and Bills
            <div class="right_buttons">
              <div class="spacer"></div>
              <i class="fa fa-compress close" aria-hidden="true"></i>
            </div>
            <input placeholder="Search" class="box_search" id="alert_search" type="text" ng-model="search"></input>
          </div>
          <div class="modal_box_content">
            <table ng-repeat="doc in docs" width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>{{doc.title}}</td>
                  <td>: {{doc.detail}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div id="document_box" class="item pure-u-1">
        <div class="box_item" ng-controller="Docs">
          <div class="boxname">
            Documents and Bills
            <div class="right_buttons">
              <div class="spacer"></div>
              <i id="document_exp" class="fa fa-expand" aria-hidden="true"></i>
            </div>
            <input placeholder="Search" class="box_search" id="alert_search" type="text" ng-model="search"></input>
          </div>
          <div class="box_content">
            <table ng-repeat="docs" width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>{{doc.title}}</td>
                  <td>: {{doc.detail}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div id="metrics_modal" class="item pure-u-1 modal">
        <div class="modal_content" ng-controller="Metrics">
          <div class="boxname">
            My Metrics
            <div class="right_buttons">
              <div class="spacer"></div>
              <i class="fa fa-compress close" aria-hidden="true"></i>
            </div>
            <input placeholder="Search" class="box_search" id="metric_search" type="text" ng-model="search"></input>
          </div>
          <div class="modal_box_content">
            <table ng-repeat="metric in metrics" width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>{{metric.metric}}</td>
                  <td>{{metric.status}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="item pure-u-1">
        <div class="box_item" ng-controller="Metrics">
          <div class="boxname">
            My Metrics
            <div class="right_buttons">
              <div class="spacer"></div>
              <i id="metrics_exp" class="fa fa-expand" aria-hidden="true"></i>
            </div>
            <input placeholder="Search" class="box_search" id="metric_search" type="text" ng-model="search"></input>
          </div>
          <div class="box_content">
            <table ng-repeat="metric in metrics" width="100%" class="card-item pure-table pure-table-bordered">
              <tbody>
                <tr>
                  <td>{{metric.metric}}</td>
                  <td>{{metric.status}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </body>
  <footer>
    footer - thick
  </footer>
  <script src="js/vis.js"></script>
  <script src="js/modal.js"></script>
</html>
