<!DOCTYPE html>
<html lang="en" class="style-1">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About</title>

    <!-- Bootstrap core CSS
    ================================================== -->
    <link href="uikit/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template
    ================================================== -->
    <link href="uikit/css/uikit.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="uikit/js/html5shiv.js"></script>
    <script src="uikit/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="page-bg preload">
  
    <!-- Preloader 
    ============================================ -->
    <div class="page-preloader">
      <div class="vcenter"> <div class="vcenter-this"><img class="anim" src="images/loader.gif" alt="loading..." /></div></div>
    </div>
    <!-- /Preloader 
    ============================================ --> 
    
    <!-- Page Wrapper
    ++++++++++++++++++++++++++++++++++++++++++++ -->
    <div class="page-wrapper">
    
      <!-- Nav Block 
      ============================================ -->
      <section class="nav-block">
      
        <!-- Nav Top
        .......................................... -->
        <nav class="nav-top navbar hnav hnav-sm invert-colors bcolor-bg" role="navigation">
        
          <!-- Container 
          .......................................... -->
          <div class="container">

            <!-- Navbar Collapse-->
            <div class="navbar-dont-collapse">
            
              <!-- Navbar Left -->
              <ul class="nav navbar-nav navbar-left">
                <li><a href="#"><i class="icon-left fa fa-comments"></i>support@domain.com</a></li>
              </ul>
              <!-- /Navbar Left -->
              
              <!-- Navbar Right -->
              <ul class="nav navbar-nav navbar-right">
                <li class="hidden-xs"><a href="#">follow us</a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              </ul>
              <!-- /Navbar right -->
              
            </div>
            <!-- /Navbar Collapse -->
            
          </div>
          <!-- /Container
          .......................................... -->
          
        </nav>
        <!-- Nav Top
        .......................................... -->

        <!-- Nav Main 
        .......................................... -->
        <nav class="nav-main navbar hnav hnav-md" role="navigation">
        
          <!-- Container 
          .......................................... -->
          <div class="container">
          
            <!-- Header-->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="ti ti-menu"></i>
              </button>
              <a class="navbar-brand" href="index.html">
                <img class="hidden-xs" src="images/logo.png" alt="" /> <!-- Default Logo -->
                <img class="visible-xs" src="images/logo-xs.png" alt="" /> <!-- Mobile Logo -->
              </a>
            </div>
            <!-- /Header-->
            
            <!-- Nav Buttons -->
            <div class="nav-buttons navbar-right">
            
              <!-- Btn Wrapper -->
              <div class="btn-wrapper navbar-el dropdown  navbar-left">
                
                <a class="btn btn-primary no-border case-u navbar-btn no-margin-y" data-toggle="dropdown"><i class="icon ti ti-user visible-sm visible-xs"></i><span class="hidden-xs hidden-sm">Sign In</span></a>
                
                <!-- Form Panel -->
                <div class="form-panel nav-form-panel dropdown-menu">
                    <fieldset>
                      <form>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            <input type="email" class="form-control" placeholder="Email">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                            <input type="password" class="form-control" placeholder="Password">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="checkbox-inline"><input type="checkbox" value="">Remember me </label>
                          <a class="pull-right" href="#">Password?</a>
                        </div>
                        <button class="btn btn-primary btn-block no-border">sign in</button>
                      </form>
                    </fieldset>
                </div>
                <!-- /Form Panel -->
                
              </div>
              <!-- /Btn Wrapper -->
              
              <!-- Navbar btn-group -->
              <div class="navbar-btn-group btn-group navbar-left no-margin-l-xs">
              
                <!-- Btn Wrapper -->
                <div class="btn-wrapper dropdown">
                
                  <a class="btn btn-default no-border" data-toggle="dropdown"><i class="ti ti-search"></i></a>
                  
                  <!-- Form Panel -->
                  <div id="nav-search" class="form-panel nav-form-panel nav-search dropdown-menu">
                    <fieldset>
                      <!-- Search -->
                      <form class="form-inline no-margin-x">
                        <div class="form-group no-margin-b">
                          <input type="text" placeholder="Search anything" class="form-control">
                          <button class="btn btn-primary" type="button">go</button>
                        </div>
                      </form>
                      <!-- /Search -->
                    </fieldset>
                  </div>
                  <!-- /Form Panel -->
                </div>
                <!-- /Btn Wrapper -->
                
                <!-- Btn Wrapper -->
                <div class="btn-wrapper dropdown">
                
                  <a class="btn btn-primary no-border" data-toggle="dropdown"><b class="count">3</b><i class="ti ti-bag"></i></a>
                  
                  <!-- Form Panel -->
                  <div class="form-panel nav-form-panel dropdown-menu">
                  
                    <header class="case-c">(3) Items - $500.00</header>
                    
                    <fieldset>
                      <ul class="vlinks vlinks-iconed vlinks-ruled-dots no-margin-y">
                        <li><img src="images/products/product1.jpg" alt="" class="img"><a class="title">Some Product</a><span class="meta">2 x $40.50</span></li>
                        <li><img src="images/products/product2.jpg" alt="" class="img"><a class="title">Some Product</a><span class="meta">2 x $40.50</span></li>
                        <li><img src="images/products/product3.jpg" alt="" class="img"><a class="title">Some Product</a><span class="meta">2 x $40.50</span></li>
                      </ul>
                    </fieldset>
                    
                    <fieldset>
                      <div class="row grid-10">
                        <div class="col-md-6">
                          <button class="btn btn-base btn-bigger btn-block mgb-10-xs">view cart</button>
                        </div>
                        <div class="col-md-6">
                          <button class="btn btn-primary btn-bigger btn-block">checkout</button>
                        </div>
                      </div>
                    </fieldset>
                    
                  </div>
                  <!-- /Form Panel -->
                  
                </div>
                <!-- /Btn Wrapper -->

              </div>
              <!-- /Navbar right -->
              </div>
            <!-- Nav Buttons -->
            
            <!-- Navbar Collapse-->
            <div class="collapse navbar-collapse">
            
              <!-- Navbar Right -->
              <ul class="nav navbar-nav navbar-right case-u">
                <li><a href="index.html">home</a></li>
                <li class="dropdown mega active">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">pages<i class="fa fa-angle-down toggler visible-xs"></i></a>
                  
                  <!-- Mega Menu -->
                  <div class="mega-menu dropdown-menu">
                    <!-- Row -->
                    <div class="row">
                    
                      <!-- col -->
                      <div class="col-md-3">
                        <img class="featured-img hidden-xs hidden-sm" src="images/menu-pic.jpg" alt="" />
                      </div>
                      <!-- /col -->
                      
                      <!-- col -->
                      <div class="col-md-3">
                        <h5>business pages</h5>
                        <ul class="links">
                          <li><a href="about.html">about</a></li>
                          <li><a href="services.html">services</a></li>
                          <li><a href="portfolio.html">portfolio</a></li>
                          <li><a href="price-plans.html">price plans</a></li>
                          <li><a href="team.html">team</a></li>
                        </ul>
                      </div>
                      <!-- /col -->
                      
                      <!-- col -->
                      <div class="col-md-3">
                        <h5>common pages</h5>
                        <ul class="links">
                          <li><a href="side-bar.html">side bar</a></li>
                          <li><a href="error-404.html">404</a></li>
                          <li><a href="error-generic.html">generic error</a></li>
                          <li><a href="contact.html">contact</a></li>
                          <li><a href="faq.html">faq</a></li>
                        </ul>
                      </div>
                      <!-- /col -->
                      
                      <!-- col -->
                      <div class="col-md-3">
                        <h5>other pages</h5>
                        <ul class="links">
                          <li><a href="blog.html">blog</a></li>
                          <li><a href="blog-post.html">single post</a></li>
                          <li><a href="login.html">login</a></li>
                          <li><a href="register.html">register</a></li>
                          <li><a href="one-pager.html">One page site</a></li>
                        </ul>
                      </div>
                      <!-- /col -->
                    </div>
                    <!-- /Row -->
                  </div>
                  <!-- /Mega Menu -->
                  
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">shop<i class="fa fa-angle-down toggler visible-xs"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="shop-home.html">shop home</a></li>
                    <li><a href="shop-category.html">Category</a></li>
                    <li><a href="shop-category-fullw.html">Category Full width</a></li>
                    <li><a href="shop-product.html">Product</a></li>
                    <li><a href="shop-cart.html">Cart</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">features<i class="fa fa-angle-down toggler visible-xs"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="uikit/index.html">elements</a></li>
                    <li><a href="uikit/index.html#roboto.demo?viewer=ajax">fonts</a></li>
                    <li><a href="uikit/index.html#font-awesome.demo?viewer=ajax">icons</a></li>
                    <li><a href="uikit/index.html#animations.demo?viewer=ajax">animations</a></li>
                    <li><a href="uikit/index.html#bxslider.demo?viewer=ajax">slider</a></li>
                  </ul>
                </li>

              </ul>
              <!-- /Navbar right -->
            </div>
            <!-- /Navbar Collapse -->
          </div>
          <!-- /Container
          .......................................... -->
          
        </nav>
        <!-- Nav Main 
        .......................................... -->
        
      </section>
      <!-- /Nav Block
      ============================================ -->
      
      <!-- Intro Block
      ============================================ -->
      <div class="intro-block intro-page light-bg">
      
        <!-- Container -->
        <div class="container cont-main">
          <!-- Section Title -->
          <div class="section-title no-margin-b">
            <h2>about us</h2>
            <p class="width-50pc hidden-xs">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
          <!-- /Section Title -->
        </div>
        <!-- /Container -->
      
      </div>
      <!-- /Intro Block
      ============================================ -->

      <!-- Content Block
      ============================================ -->
      <section class="content-block default-bg">
      
        <!-- Container -->
        <div class="container cont-main">
          
          <!-- Row -->
          <div class="row">
              
            <!-- Column -->
            <div class="col-sm-6 col-md-6">
                  
              <img  src="images/screen-3.png" alt="pic">
                  
            </div>
            <!-- /Column -->
                
            <!-- Column -->
            <div class="col-sm-6 col-md-6 vspace-xs">
              <h6 class="case-u lts-sm">Award winning service delivery</h6>
              <p>Dorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  
             <!-- Nested Row -->
              <div class="row">
              
                <!-- Column -->
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <!-- vlinks -->
                  <ul class="vlinks vlinks-iconed vlinks-md">
                    <li><i class="icon fa fa-trophy"></i><a class="title" href="#">Quality Award</a><span class="meta">1st Oct 2012</span></li>
                    <li><i class="icon fa fa-bookmark"></i><a class="title" href="#">ISO Certification</a><span class="meta">25 FEB 2013</span></li>
                  </ul>
                  <!-- /vlinks -->
                </div>
                <!-- /Column -->
                
                <!-- Column -->
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <!-- vlinks -->
                  <ul class="vlinks vlinks-iconed vlinks-md">
                    <li><i class="icon fa fa-cc"></i><a class="title" href="#">Company Recognition</a><span class="meta">4 NOV 2013</span></li>
                    <li><i class="icon fa fa-globe"></i><a class="title" href="#">Weby Awards</a><span class="meta">20 MAR 2014</span></li>
                  </ul>
                  <!-- /vlinks -->
                </div>
                <!-- /Column -->
                
              </div>
              <!-- /Nested Row -->
                  
            </div>
            <!-- /Column -->

          </div>
          <!-- /Row -->
        
        </div>
        <!-- /Container -->
      </section>
      <!-- /Content Block
      ============================================-->
      
       <!-- Content Block
      ================================================== -->
      <section class="content-block light-bg">
      
        <!-- Overlay -->
        <div class="overlay tint">
        
          <!-- Container -->
          <div class="container cont-main">

            <!-- Row -->
            <div class="row">
            
              <!-- Column -->
              <div class="col-sm-6 col-md-6 mgb-30-xs">
              
                <h6 class="no-margin-t case-u lts-sm">Exceptional Company</h6>
                <p class="dcap dcap-pcolor">Betta, lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
                <a class="more-link color-1" href="#">read more <i class="fa fa-arrow-right"></i></a>
              
              </div>
              <!-- Column /END-->
                
              <!-- Column -->
              <div class="col-sm-6 col-md-6">
              
                <h6 class="no-margin-t case-u lts-sm">Our Skills</h6>
                <!-- Skill Bar -->
                <div class="skill-bar">
                 
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="skill"><i class="icon fa fa-globe"></i>Web Development <i class="val">80%</i></span>
                    </div>
                  </div>
                  
                </div>
                <!-- /Skill Bar -->
                <!-- Skill Bar -->
                <div class="skill-bar">
                 
                  <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                      <span class="skill"><i class="icon fa fa-desktop"></i>Desktop Programs<i class="val">90%</i></span>
                    </div>
                  </div>
                  
                </div>
                <!-- /Skill Bar -->
                
                <!-- Skill Bar -->
                <div class="skill-bar">
                 
                  <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                      <span class="skill"><i class="icon fa fa-phone"></i>Mobile Apps<i class="val">70%</i></span>
                    </div>
                  </div>
                  
                </div>
                <!-- /Skill Bar -->
                
                <!-- Skill Bar -->
                <div class="skill-bar">
                 
                  <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    <span class="skill"><i class="icon fa fa-pencil"></i>Graphic Design<i class="val">65%</i></span>
                  </div>
                  </div>
                  
                </div>
                <!-- /Skill Bar -->

              </div>
              <!-- Column /END-->	
                  
            </div>
            <!-- /Row-->

          </div>
          <!-- /Container -->
        </div>
        <!-- /Overlay -->
        
      </section>
      <!-- /Content Block
      ================================================== -->

      <!-- Content Block
      ============================================-->
      <section class="content-block default-bg bshadow-top">
      
        <!-- Container -->
        <div class="container cont-main">
        
          <!-- Section Title -->
          <div class="section-title">
            <h2>testimonials</h2>
            <p>We are experts in both desktop and mobile design.</p>
          </div>
          <!-- Section Title -->
          
          <!-- Slider Wrapper -->
          <div class="bx-controls-dark bx-controls-below bx-controls-box">
          
            <!-- BxSlider -->
            <div class="bxslider" data-call="bxslider" data-options="pager:false, slideMargin: 30" data-breaks="[{screen:0, slides:1}, {screen:768, slides:2}]">
              
              <!-- Slide -->
              <div class="slide">
                <!-- hquote -->
                <div class="hquote">
                  <blockquote>
                    <p><img class="avatar" src="images/face3.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
                    <small class="author-bottom"><a href="#">Mary Doe</a>, Business Owner</small>
                  </blockquote>
                </div>
                <!-- /hquote -->
              </div>
              <!-- /Slide -->

              <!-- Slide -->
              <div class="slide">
                <!-- hquote -->
                <div class="hquote hquote-right">
                  <blockquote>
                    <p><img class="avatar" src="images/face1.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
                    <small class="author-bottom"><a href="#">Alice Wonder</a>, Actress</small>
                  </blockquote>
                </div>
                <!-- /hquote -->
              </div>
              <!-- /Slide -->

              <!-- Slide -->
              <div class="slide">
                <!-- hquote -->
                <div class="hquote">
                  <blockquote>
                    <p><img class="avatar" src="images/face3.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
                    <small class="author-bottom"><a href="#">Mary Doe</a>, Business Owner</small>
                  </blockquote>
                </div>
                <!-- /hquote -->
              </div>
              <!-- /Slide -->

              <!-- Slide -->
              <div class="slide">
                <!-- hquote -->
                <div class="hquote hquote-right">
                  <blockquote>
                    <p><img class="avatar" src="images/face1.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
                    <small class="author-bottom"><a href="#">Alice Wonder</a>, Actress</small>
                  </blockquote>
                </div>
                <!-- /hquote -->
              </div>
              <!-- /Slide -->
              
            </div>
            <!-- /BxSlider -->
              
          </div>
          <!-- /testimonial Slider -->
        
        </div>
        <!-- /Container -->
      </section>
      <!-- /Content Block
      ============================================-->
    
      <!-- Footer
      =================================================== -->
      <footer class="footer-block">
      
        <!-- Container -->
        <div class="container main clearfix">
        
          <!-- Brand -->
          <div class="brand-col">
            <div class="brand">
              <img src="images/logo-footer.png" alt="logo"/>
            </div>
          </div>
          <!-- /Brand -->
          
          <!-- Links -->
          <div class="links-col">
            <!-- Row -->
            <div class="row-fluid">
              <!-- Col -->
              <div class="col-xs-6 col-sm-3 col-md-3">
                <h5>guest</h5>
                <ul class="v-links">
                  <li><a href="#">login</a></li>
                  <li><a href="#">sign up</a></li>
                  <li><a href="#">customer support</a></li>
                  <li><a href="#">information</a></li>
                </ul>
              </div>
              <!-- Col -->
              
              <!-- Col -->
              <div class="col-xs-6 col-sm-3 col-md-3">
                <h5>information</h5>
                <ul class="v-links">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Delivery Informations</a></li>
                  <li><a href="#">Terms and conditions</a></li>
                  <li><a href="#">Return Policy</a></li>
                  <li><a href="#">Shipping and Deliveries</a></li>
                  <li><a href="#">Enquiries</a></li>
                </ul>
              </div>
              <!-- /Col -->
              
              <!-- Col -->
              <div class="col-xs-6 col-sm-3 col-md-3">
                <h5>member</h5>
                <ul class="v-links">
                  <li><a href="#">Account</a></li>
                  <li><a href="#">Wishlist and Favourites</a></li>
                  <li><a href="#">Purchase History</a></li>
                  <li><a href="#">View Cart</a></li>
                </ul>
              </div>
              <!-- /Col -->
              
              <!-- Col -->
              <div class="col-xs-6 col-sm-3 col-md-3 newsletter">
                <h5>newsletter</h5>
                <form>
                  <input type="text" class="form-control" placeholder="Email Address">
                  <button class="btn btn-primary" type="button">get newsletter</button>
                </form>
              </div>
              <!-- /Col -->
           </div>
           <!-- /Row -->
          </div>
          <!-- /Links -->

        </div>
        <!-- /Container ->
        
        <!-- Bottom -->
        <div class="bottom">
          <!-- Container -->
          <div class="container">
            <span class="copy-text">&copy; 2015 Your Corporation. Theme by <a href="#">Rahisi</a> Themes.</span>
            <ul class="payment-methods clearfix">
              <li><img alt="card" src="images/cards/visa.png"></li>
              <li><img alt="card" src="images/cards/paypal.png"></li>
              <li><img alt="card" src="images/cards/mastercard.png"></li>
              <li><img alt="card" src="images/cards/cirrus.png"></li>
              <li><img alt="card" src="images/cards/visa-debit.png"></li>
            </ul>
          </div>
          <!-- /Container -->
        </div>
        <!-- /Bottom -->
        
        
      </footer>
      <!-- /Footer
      =================================================== -->
      
    </div>
    <!-- /Page Wrapper
    ++++++++++++++++++++++++++++++++++++++++++++++ -->

    <!-- Javascript
    ================================================== -->
    <script src="uikit/js/jquery-latest.min.js"></script>
    <script src="uikit/bootstrap/js/bootstrap.min.js"></script>
    <script src="uikit/js/uikit.min.js"></script>
    <!-- /JavaScript
    ================================================== -->
  </body>
</html>
