<!DOCTYPE html>
<html lang="en" class="style-1">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>One Pager Site</title>

    <!-- Bootstrap core CSS
    ================================================== -->
    <link href="uikit/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template
    ================================================== -->
    <link href="uikit/css/uikit.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="uikit/js/html5shiv.js"></script>
    <script src="uikit/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="page-bg preload" data-target=".navbar" data-spy="scroll">
  
    <!-- Preloader 
    ============================================ -->
    <div class="page-preloader">
      <div class="vcenter"> <div class="vcenter-this"><img class="anim" src="images/loader.gif" alt="loading..." /></div></div>
    </div>
    <!-- /Preloader 
    ============================================ --> 
    
    <!-- Page Wrapper
    ++++++++++++++++++++++++++++++++++++++++++++ -->
    <div class="page-wrapper">
    
      <!-- Nav Block 
      ============================================ -->
      <section class="nav-block">
      
        <!-- Nav Top
        .......................................... -->
        <nav class="nav-top navbar hnav hnav-sm invert-colors bcolor-bg" role="navigation">
        
          <!-- Container 
          .......................................... -->
          <div class="container">

            <!-- Navbar Collapse-->
            <div class="navbar-dont-collapse">
            
              <!-- Navbar Left -->
              <ul class="nav navbar-nav navbar-left">
                <li><a href="#"><i class="icon-left fa fa-comments"></i>support@domain.com</a></li>
              </ul>
              <!-- /Navbar Left -->
              
              <!-- Navbar Right -->
              <ul class="nav navbar-nav navbar-right">
                <li class="hidden-xs"><a href="#">follow us</a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              </ul>
              <!-- /Navbar right -->
              
            </div>
            <!-- /Navbar Collapse -->
            
          </div>
          <!-- /Container
          .......................................... -->
          
        </nav>
        <!-- Nav Top
        .......................................... -->
        
        <!-- Nav Main 
        .......................................... -->
        <nav class="nav-main navbar hnav" role="navigation">
        
          <!-- Container 
          .......................................... -->
          <div class="container">
          
            <!-- Header-->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="ti ti-menu"></i>
              </button>
              <a class="navbar-brand" href="index.html">
                <img class="hidden-xs" src="images/logo.png" alt="" /> <!-- Default Logo -->
                <img class="visible-xs" src="images/logo-xs.png" alt="" /> <!-- Mobile Logo -->
              </a>
            </div>
            <!-- /Header-->
            

            <!-- Nav Buttons -->
            <div class="nav-buttons navbar-right">
              <a class="btn btn-primary navbar-btn hidden-sm" href="index.html">full site</a>
            </div>
            <!-- /Nav Buttons -->
            
            <!-- Navbar Collapse-->
            <div class="collapse navbar-collapse">
              <!-- Navbar Right -->
              <ul class="nav navbar-nav navbar-right case-u">
                <li class="no-line"><a href="#home"><i class="ti ti-home"></i></a></li>
                <li><a href="#about">about</a></li>
                <li><a href="#work">work</a></li>
                <li><a href="#services">services</a></li>
                <li><a href="#testimonials">testimonials</a></li>
                <li><a href="#contact">contact</a></li>
              </ul>
              <!-- /Navbar right -->
            </div>
            <!-- /Navbar Collapse -->
          </div>
          <!-- /Container
          .......................................... -->
          
        </nav>
        <!-- Nav Main 
        .......................................... -->
        
      </section>
      <!-- /Nav Block
      ============================================ -->
      
      <!-- Intro Block
      ============================================ -->
      <div class="intro-block intro-slider-block dark-bg">
      
        <!-- Container -->
        <div class="container cont-main">
        
          <!-- Row -->
          <div class="row">
          
            <!-- Col -->
            <div class="col-xs-10 col-sm-10 col-md-9">
            
              <!-- Intro Slider Wrapper -->
              <div class="intro-slider">
              
                <!-- BxSlider -->
                <div class="bxslider" data-call="bxslider" data-options="{controls:false, pagerCustom: '#intro-pager'}">
                  
                  <!-- Slide -->
                  <div class="slide">
                    <!-- Text -->
                    <div class="text">
                      <small class="pcolor case-u bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="400">multipurpose</small>
                      <h1 class="bx-layer case-u" data-anim="slideInDown" data-dur="1000" data-delay="200" contenteditable="true">modular design</h1>
                      <p class="bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="0" contenteditable="true">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud.</p>
                      <a class="btn btn-primary no-border btn-bigger bx-layer" data-anim="slideInUp" data-dur="1000" data-delay="600">learn more</a>
                    </div>
                    <!-- /Text -->
                    <img class="img-main" src="images/screen-4.png" alt=""/>
                  </div>
                  <!-- /Slide -->
                  
                  <!-- Slide -->
                  <div class="slide">
                    <!-- Text -->
                    <div class="text">
                      <small class="pcolor case-u bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="400">responsive</small>
                      <h1 class="bx-layer case-u" data-anim="slideInDown" data-dur="1000" data-delay="200" contenteditable="true">bootstrap base</h1>
                      <p class="bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="0" contenteditable="true">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud.</p>
                      <a class="btn btn-primary no-border btn-bigger bx-layer" data-anim="slideInUp" data-dur="1000" data-delay="600">learn more</a>
                    </div>
                    <!-- /Text -->
                    <img class="img-main" src="images/screen-4.png" alt=""/>
                  </div>
                  <!-- /Slide -->
                  
                  <!-- Slide -->
                  <div class="slide">
                    <!-- Text -->
                    <div class="text">
                      <small class="pcolor case-u bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="400">portable</small>
                      <h1 class="bx-layer case-u" data-anim="slideInDown" data-dur="1000" data-delay="200" contenteditable="true">reusable blocks</h1>
                      <p class="bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="0" contenteditable="true">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud.</p>
                      <a class="btn btn-primary no-border btn-bigger bx-layer" data-anim="slideInUp" data-dur="1000" data-delay="600">learn more</a>
                    </div>
                    <!-- /Text -->
                    <img class="img-main" src="images/screen-4.png" alt="" />
                  </div>
                  <!-- /Slide -->
                  
                  <!-- Slide -->
                  <div class="slide">
                    <!-- Text -->
                    <div class="text">
                      <small class="pcolor case-u bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="400">purchase once</small>
                      <h1 class="bx-layer case-u" data-anim="slideInDown" data-dur="1000" data-delay="200" contenteditable="true">free updates</h1>
                      <p class="bx-layer" data-anim="slideInDown" data-dur="1000" data-delay="0" contenteditable="true">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud.</p>
                      <a class="btn btn-primary no-border btn-bigger bx-layer" data-anim="slideInUp" data-dur="1000" data-delay="600">learn more</a>
                    </div>
                    <!-- /Text -->
                    <img class="img-main" src="images/screen-4.png" alt=""/>
                  </div>
                  <!-- /Slide -->
                  
                </div>
                <!-- /BxSlider -->
                
              </div>
              <!-- Intro Slider -->
              
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="col-xs-2 col-sm-2 col-md-3">
              <div class="pager-block vcenter">
                <div class="vcenter-this">
                  <!-- Pager -->
                  <div id="intro-pager" class="tab-pager">
                    <a data-slide-index="0" href="#"><i class="icon fa  fa-apple"></i><span>Multipurpose Theme</span></a>
                    <a data-slide-index="1" href="#"><i class="icon fa fa-folder"></i><span>Fully Responsive</span></a>
                    <a data-slide-index="2" href="#"><i class="icon fa fa-rocket"></i><span>portable uikit</span></a>
                    <a data-slide-index="3" href="#"><i class="icon fa fa-desktop"></i><span>free updates</span></a>
                  </div>
                  <!-- /Pager -->
                </div>
              </div>
            </div>
            <!-- /Col -->
            
          </div>
          <!-- /Row -->
        </div>
        <!-- /Container -->
      
      </div>
      <!-- /Intro Block
      ============================================ -->
      
      <!-- Content Block
      ============================================ -->
      <section id="about" class="content-block default-bg">
      
        <!-- Container -->
        <div class="container cont-main">
          
          <!-- Row -->
          <div class="row">
              
            <!-- Column -->
            <div class="col-sm-6 col-md-6">
                  
              <img  src="images/screen-3.png" alt="pic">
                  
            </div>
            <!-- /Column -->
                
            <!-- Column -->
            <div class="col-sm-6 col-md-6 vspace-xs">
              <h6 class="case-u lts-sm">Award winning service delivery</h6>
              <p>Dorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  
             <!-- Nested Row -->
              <div class="row">
              
                <!-- Column -->
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <!-- vlinks -->
                  <ul class="vlinks vlinks-iconed vlinks-md">
                    <li><i class="icon fa fa-trophy"></i><a class="title" href="#">Quality Award</a><span class="meta">1st Oct 2012</span></li>
                    <li><i class="icon fa fa-bookmark"></i><a class="title" href="#">ISO Certification</a><span class="meta">25 FEB 2013</span></li>
                  </ul>
                  <!-- /vlinks -->
                </div>
                <!-- /Column -->
                
                <!-- Column -->
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <!-- vlinks -->
                  <ul class="vlinks vlinks-iconed vlinks-md">
                    <li><i class="icon fa fa-cc"></i><a class="title" href="#">Company Recognition</a><span class="meta">4 NOV 2013</span></li>
                    <li><i class="icon fa fa-globe"></i><a class="title" href="#">Weby Awards</a><span class="meta">20 MAR 2014</span></li>
                  </ul>
                  <!-- /vlinks -->
                </div>
                <!-- /Column -->
                
              </div>
              <!-- /Nested Row -->
                  
            </div>
            <!-- /Column -->

          </div>
          <!-- /Row -->
        
        </div>
        <!-- /Container -->
      </section>
      <!-- /Content Block
      ============================================-->

      <!-- Tab Slider
      ================================================== -->
      <section id="work" class="content-block tab-slider tab-layout bcolor-bg">
      
        <!-- Container (for alignment)-->
        <div class="container page-align nav-cont">
          <!-- Nav Block -->
          <nav class="nav-panel">
            <div class="vcenter">

              <div class="vcenter-this">
              <!-- Tab Pager -->
                <div id="projects-pager" class="img-links clearfix">
                  <a data-slide-index="0" href="#"><div class="wrapper"><span><i class="icon">1</i></span><img src="images/portfolio/pic1.jpg" alt="pic"/></div></a>
                  <a data-slide-index="1" href="#"><div class="wrapper"><span><i class="icon">2</i></span><img src="images/portfolio/pic2.jpg" alt="pic"/></div></a>
                  <a data-slide-index="2" href="#"><div class="wrapper"><span><i class="icon">3</i></span><img src="images/portfolio/pic3.jpg" alt="pic"/></div></a>
                  <a data-slide-index="3" href="#"><div class="wrapper"><span><i class="icon">4</i></span><img src="images/portfolio/pic4.jpg" alt="pic"/></div></a>
                  <a data-slide-index="4" href="#"><div class="wrapper"><span><i class="icon">5</i></span><img src="images/portfolio/pic5.jpg" alt="pic"/></div></a>
                  <a data-slide-index="5" href="#"><div class="wrapper"><span><i class="icon">6</i></span><img src="images/portfolio/pic6.jpg" alt="pic"/></div></a>
                </div>
                <!-- /Tab Pager -->
                </div>
            </div>

          </nav>
          <!-- /Nav Block -->

          
        </div>
        <!-- /Container -->
        
        <div class="bx-controls-box bx-controls-bottom-right">
        <!-- BxSlider -->
        <div class="bxslider" data-call="bxslider" data-bxid="projectsSlider" data-options="{pagerCustom:'#projects-pager', controls:false}" data-breaks="[{screen:0, mode:'horizontal', controls:true}, {screen:992, mode: 'vertical'}]">
          <!-- Tab 1-->
          <div class="tab">
            <!-- Pic -->
            <div class="pic-panel">
              <img src="images/portfolio/pic1.jpg" alt="pic"/>     
            </div>
            <!-- /Pic -->
            <!-- Icon -->
            <div class="tab-icon">
              <i class="icon ti ti-apple"></i>
            </div>
            <!-- /Icon -->
            <!-- Container (for alignment) -->
            <div class="container page-align">
              <!-- Text -->
              <div class="text-panel">
                <div class="info vcenter">
                  <div class="vcenter-this">
                  
                    <a class="case-u categ"><small>projects / recent</small></a>
                    <h4>First Project</h4>
                    <p>The trouble with having an open mind, of course, is that many people will insist on coming along and trying to put things inside it.</p>
                    <a class="btn btn-primary hidden-xs" href="#">read more</a>
                    
                  </div>
                </div>
              </div>
               <!-- /Text -->       
            </div>
            <!-- /Container -->
          </div>
          <!-- /Tab 1 -->
          
          <!-- Tab 2 -->
          <div class="tab">
            <!-- Pic -->
            <div class="pic-panel">
              <img src="images/portfolio/pic2.jpg" alt="pic"/>     
            </div>
            <!-- /Pic -->
            <!-- Icon -->
            <div class="tab-icon">
              <i class="icon ti ti-music-alt"></i>
            </div>
            <!-- /Icon -->
            <!-- Container (for alignment) -->
            <div class="container page-align">
              <!-- Text -->
              <div class="text-panel">
                <div class="info vcenter">
                  <div class="vcenter-this">
                  
                    <a class="case-u categ"><small>projects / recent</small></a>
                    <h4>Second Project</h4>
                    <p>The trouble with having an open mind, of course, is that many people will insist on coming along and trying to put things inside it.</p>
                    <a class="btn btn-white hidden-xs" href="#">read more</a>
                    
                  </div>
                </div>
              </div>
               <!-- /Text -->       
            </div>
            <!-- /Container -->
          </div>
          <!-- /Tab 2 -->
          
          <!-- Tab 3 -->
          <div class="tab">
            <!-- Pic -->
            <div class="pic-panel">
              <img src="images/portfolio/pic3.jpg" alt="pic"/>     
            </div>
            <!-- /Pic -->
            <!-- Icon -->
            <div class="tab-icon">
              <i class="icon ti ti-tablet"></i>
            </div>
            <!-- /Icon -->
            <!-- Container (for alignment) -->
            <div class="container page-align">
              <!-- Text -->
              <div class="text-panel">
                <div class="info vcenter">
                  <div class="vcenter-this">
                  
                    <a class="case-u categ"><small>projects / recent</small></a>
                    <h4>Third Project</h4>
                    <p>The trouble with having an open mind, of course, is that many people will insist on coming along and trying to put things inside it.</p>
                    <a class="btn btn-white hidden-xs" href="#">read more</a>
                    
                  </div>
                </div>
              </div>
               <!-- /Text -->       
            </div>
            <!-- /Container -->
          </div>
          <!-- /Tab 3 -->
          
          <!-- Tab 4 -->
          <div class="tab">
            <!-- Pic -->
            <div class="pic-panel">
              <img src="images/portfolio/pic4.jpg" alt="pic"/>     
            </div>
            <!-- /Pic -->
            <!-- Icon -->
            <div class="tab-icon">
              <i class="icon ti ti-stats-up"></i>
            </div>
            <!-- /Icon -->
            <!-- Container (for alignment) -->
            <div class="container page-align">
              <!-- Text -->
              <div class="text-panel">
                <div class="info vcenter">
                  <div class="vcenter-this">
                  
                    <a class="case-u categ"><small>projects / recent</small></a>
                    <h4>Fourth Project</h4>
                    <p>The trouble with having an open mind, of course, is that many people will insist on coming along and trying to put things inside it.</p>
                    <a class="btn btn-white hidden-xs" href="#">read more</a>
                    
                  </div>
                </div>
              </div>
               <!-- /Text -->       
            </div>
            <!-- /Container -->
          </div>
          <!-- /Tab 4 -->
          
          <!-- Tab 5 -->
          <div class="tab">
            <!-- Pic -->
            <div class="pic-panel">
              <img src="images/portfolio/pic5.jpg" alt="pic"/>     
            </div>
            <!-- /Pic -->
            <!-- Icon -->
            <div class="tab-icon">
              <i class="icon ti ti-paint-bucket"></i>
            </div>
            <!-- /Icon -->
            <!-- Container (for alignment) -->
            <div class="container page-align">
              <!-- Text -->
              <div class="text-panel">
                <div class="info vcenter">
                  <div class="vcenter-this">
                  
                    <a class="case-u categ"><small>projects / recent</small></a>
                    <h4>Fifth Project</h4>
                    <p>The trouble with having an open mind, of course, is that many people will insist on coming along and trying to put things inside it.</p>
                    <a class="btn btn-white hidden-xs" href="#">read more</a>
                    
                  </div>
                </div>
              </div>
               <!-- /Text -->       
            </div>
            <!-- /Container -->
          </div>
          <!-- /Tab 5 -->
          
          <!-- Tab 6 -->
          <div class="tab">
            <!-- Pic -->
            <div class="pic-panel">
              <img src="images/portfolio/pic6.jpg" alt="pic"/>     
            </div>
            <!-- /Pic -->
            <!-- Icon -->
            <div class="tab-icon">
              <i class="icon ti ti-heart"></i>
            </div>
            <!-- /Icon -->
            <!-- Container (for alignment) -->
            <div class="container page-align">
              <!-- Text -->
              <div class="text-panel">
                <div class="info vcenter">
                  <div class="vcenter-this">
                  
                    <a class="case-u categ"><small>projects / recent</small></a>
                    <h4>Sixth Project</h4>
                    <p>The trouble with having an open mind, of course, is that many people will insist on coming along and trying to put things inside it.</p>
                    <a class="btn btn-white hidden-xs" href="#">read more</a>
                    
                  </div>
                </div>
              </div>
               <!-- /Text -->       
            </div>
            <!-- /Container -->
          </div>
          <!-- /Tab 6 -->
        </div>
        <!-- /BxSlider -->
        </div>
        
      </section>
      <!-- /Tab Slider
      ================================================== -->
      
      <!-- Content Block
      ============================================ -->
      <section id="services" class="content-block default-bg">
      
        <!-- Container -->
        <div class="container cont-main">

          
          <!-- Section Title -->
          <div class="section-title">
            <h2>Our services</h2>
            <p>We are experts in both desktop and mobile design.</p>
          </div>
          <!-- /Section Title -->
          
          <!-- Row -->
          <div class="row">
          
            <!-- Col -->
            <div class="col-sm-6 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-desktop" ></i>
                <a class="title">First Feature</a>
                <p class="text">Sed ut perspiciatis unde omnis iste natus sit voluptatem </p>
                <a class="more-link">read more<i class="icon-right ti ti-arrow-right"></i></a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="col-sm-6 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-camera"></i>
                <a class="title">second feature</a>
                <p class="text">Sed ut perspiciatis unde omnis iste natus sit voluptatem </p>
                <a class="more-link">read more<i class="icon-right ti ti-arrow-right"></i></a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="col-sm-6 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-printer"></i>
                <a class="title">third feature</a>
                <p class="text">Sed ut perspiciatis unde omnis iste natus sit voluptatem </p>
                <a class="more-link">read more<i class="icon-right ti ti-arrow-right"></i></a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
          
            <!-- Col -->
            <div class="col-sm-6 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-comments"></i>
                <a class="title">fourth feature</a>
                <p class="text">Sed ut perspiciatis unde omnis iste natus sit voluptatem </p>
                <a class="more-link">read more<i class="icon-right ti ti-arrow-right"></i></a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="col-sm-6 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-cup"></i>
                <a class="title">fifth feature</a>
                <p class="text">Sed ut perspiciatis unde omnis iste natus sit voluptatem </p>
                <a class="more-link">read more<i class="icon-right ti ti-arrow-right"></i></a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
            
            <!-- Col -->
            <div class="col-sm-6 col-md-4">
              <!-- hfeat -->
              <div class="service hfeat hfeat-md">
                <i class="icon ti-truck"></i>
                <a class="title">sixth feature</a>
                <p class="text">Sed ut perspiciatis unde omnis iste natus sit voluptatem </p>
                <a class="more-link">read more<i class="icon-right ti ti-arrow-right"></i></a>
              </div>
              <!-- /hfeat -->
            </div>
            <!-- /Col -->
          
          </div>
          <!-- /Row -->
        
        </div>
        <!-- /Container -->
      </section>
      <!-- /Content Block
      ============================================-->
      
      <!-- Content Block
      ============================================-->
      <section id="testimonials" class="content-block dark-bg">
      
        <!-- Container -->
        <div class="container cont-main">
        
          <!-- Section Title -->
          <div class="section-title invert-colors">
            <h2>testimonials</h2>
            <p>We are experts in both desktop and mobile design.</p>
          </div>
          <!-- Section Title -->
          
          <!-- Slider Wrapper -->
          <div class="bx-controls-dark bx-controls-below bx-controls-box bx-controls-invert-colors">
          
            <!-- BxSlider -->
            <div class="bxslider hquote-invert-all" data-call="bxslider" data-options="pager:false, slideMargin: 30" data-breaks="[{screen:0, slides:1}, {screen:768, slides:2}]">
              
              <!-- Slide -->
              <div class="slide">
                <!-- hquote -->
                <div class="hquote">
                  <blockquote>
                    <p><img class="avatar" src="images/face3.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
                    <small class="author-bottom"><a href="#">Mary Doe</a>, Business Owner</small>
                  </blockquote>
                </div>
                <!-- /hquote -->
              </div>
              <!-- /Slide -->

              <!-- Slide -->
              <div class="slide">
                <!-- hquote -->
                <div class="hquote hquote-right">
                  <blockquote>
                    <p><img class="avatar" src="images/face1.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
                    <small class="author-bottom"><a href="#">Alice Wonder</a>, Actress</small>
                  </blockquote>
                </div>
                <!-- /hquote -->
              </div>
              <!-- /Slide -->

              <!-- Slide -->
              <div class="slide">
                <!-- hquote -->
                <div class="hquote">
                  <blockquote>
                    <p><img class="avatar" src="images/face3.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
                    <small class="author-bottom"><a href="#">Mary Doe</a>, Business Owner</small>
                  </blockquote>
                </div>
                <!-- /hquote -->
              </div>
              <!-- /Slide -->

              <!-- Slide -->
              <div class="slide">
                <!-- hquote -->
                <div class="hquote hquote-right">
                  <blockquote>
                    <p><img class="avatar" src="images/face1.jpg" alt="">The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</p>
                    <small class="author-bottom"><a href="#">Alice Wonder</a>, Actress</small>
                  </blockquote>
                </div>
                <!-- /hquote -->
              </div>
              <!-- /Slide -->
              
            </div>
            <!-- /BxSlider -->
              
          </div>
          <!-- /Slider Wrapper -->
        
        </div>
        <!-- /Container -->
      </section>
      <!-- /Content Block
      ============================================-->
      
      <!-- Content Block
      ============================================-->
      <section id="contact" class="content-block default-bg bshadow-top">
      
        <!-- Container -->
        <div class="container cont-main">
        
          <!-- Section Title -->
          <div class="section-title">
            <h2>get in touch</h2>
            <p>Deserunt sit animi totam dicta suscipit non sapiente.</p>
          </div>
          <!-- /Section Title -->
          
          <!-- Form Panel -->
          <div class="form-panel width-70pc fullw-xs hcenter">
          
            <header>Message Form</header>
            
            <fieldset>
            
              <form name="contact-form" action="#" method="post">
              
                <div class="form-group">
                  <label>Full Names</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    <input class="form-control" placeholder="" name="name" type="text">
                  </div>
                </div>
                
                <div class="form-group">
                  <label>Email</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    <input class="form-control" placeholder="" name="email" type="email">
                  </div>
                </div>
                
                <div class="form-group">
                  <label>Message</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="icon fa fa-file-text"></i></div>
                    <textarea rows="8" class="form-control" name="message"></textarea>
                  </div>
                </div>
                
                <button class="btn btn-primary btn-bigger btn-block" name="submit" type="button">send message</button>
              
              </form>
            </fieldset>
          </div>
          <!-- /Form Panel -->
          
        </div>
        <!-- /Container -->
      </section>
      <!-- /Content Block
      ============================================-->
    
      <!-- Footer
      =================================================== -->
      <footer class="footer-block footer-simple">
      
        <!-- Container -->
        <div class="container cont-main">
          <p><i class="icon ti ti-comment-alt"></i>xstatic@domain.com</p>
          <!-- vlinks -->
          <ul class="social-icons hlinks hlinks-icons color-icons-bg color-icons-hovered">
            <li><a href="#"><i class="icon fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="icon fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="icon fa fa-rss"></i></a></li>
            <li><a href="#"><i class="icon fa fa-google-plus"></i></a></li>
          </ul>
          <!-- /vlinks -->
          <a href="#home" class="scroll-up scroll-to">
            <i class="icon ti ti-angle-up"></i>
          </a>
        </div>
        <!-- /Container -->
        
        <!-- Bottom -->
        <div class="bottom">
          <!-- Container -->
          <div class="container">
          
            <span class="copy-text">&copy; 2015 Your Corporation. Theme by <a href="#">Rahisi</a> Themes.</span>
            <ul class="payment-methods clearfix">
              <li><img alt="card" src="images/cards/visa.png"></li>
              <li><img alt="card" src="images/cards/paypal.png"></li>
              <li><img alt="card" src="images/cards/mastercard.png"></li>
              <li><img alt="card" src="images/cards/cirrus.png"></li>
              <li><img alt="card" src="images/cards/visa-debit.png"></li>
            </ul>
            
          </div>
          <!-- /Container -->
        </div>
        <!-- /Bottom -->
      </footer>
      <!-- /Footer
      =================================================== -->
      
    </div>
    <!-- /Page Wrapper
    ++++++++++++++++++++++++++++++++++++++++++++++ -->

    <!-- Javascript
    ================================================== -->
    <script src="uikit/js/jquery-latest.min.js"></script>
    <script src="uikit/bootstrap/js/bootstrap.min.js"></script>
    <script src="uikit/js/uikit.min.js"></script>
    <!-- /JavaScript
    ================================================== -->
  </body>
</html>
