<!DOCTYPE html>
<html lang="en" class="style-1">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio</title>

    <!-- Bootstrap core CSS
    ================================================== -->
    <link href="uikit/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template
    ================================================== -->
    <link href="uikit/css/uikit.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="uikit/js/html5shiv.js"></script>
    <script src="uikit/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="page-bg preload">
  
    <!-- Preloader 
    ============================================ -->
    <div class="page-preloader">
      <div class="vcenter"> <div class="vcenter-this project-links"><img class="anim" src="images/loader.gif" alt="loading..." /></div></div>
    </div>
    <!-- /Preloader 
    ============================================ --> 
    
    <!-- Page Wrapper
    ++++++++++++++++++++++++++++++++++++++++++++ -->
    <div class="page-wrapper">
    
      <!-- Nav Block 
      ============================================ -->
      <section class="nav-block">
      
        <!-- Nav Top
        .......................................... -->
        <nav class="nav-top navbar hnav hnav-sm invert-colors bcolor-bg" role="navigation">
        
          <!-- Container 
          .......................................... -->
          <div class="container">

            <!-- Navbar Collapse-->
            <div class="navbar-dont-collapse">
            
              <!-- Navbar Left -->
              <ul class="nav navbar-nav navbar-left">
                <li><a href="#"><i class="icon-left fa fa-comments"></i>support@domain.com</a></li>
              </ul>
              <!-- /Navbar Left -->
              
              <!-- Navbar Right -->
              <ul class="nav navbar-nav navbar-right">
                <li class="hidden-xs"><a href="#">follow us</a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              </ul>
              <!-- /Navbar right -->
              
            </div>
            <!-- /Navbar Collapse -->
            
          </div>
          <!-- /Container
          .......................................... -->
          
        </nav>
        <!-- Nav Top
        .......................................... -->

        <!-- Nav Main 
        .......................................... -->
        <nav class="nav-main navbar hnav hnav-md" role="navigation">
        
          <!-- Container 
          .......................................... -->
          <div class="container">
          
            <!-- Header-->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="ti ti-menu"></i>
              </button>
              <a class="navbar-brand" href="index.html">
                <img class="hidden-xs" src="images/logo.png" alt="" /> <!-- Default Logo -->
                <img class="visible-xs" src="images/logo-xs.png" alt="" /> <!-- Mobile Logo -->
              </a>
            </div>
            <!-- /Header-->
            
            <!-- Nav Buttons -->
            <div class="nav-buttons navbar-right">
            
              <!-- Btn Wrapper -->
              <div class="btn-wrapper navbar-el dropdown  navbar-left">
                
                <a class="btn btn-primary no-border case-u navbar-btn no-margin-y" data-toggle="dropdown"><i class="icon ti ti-user visible-sm visible-xs"></i><span class="hidden-xs hidden-sm">Sign In</span></a>
                
                <!-- Form Panel -->
                <div class="form-panel nav-form-panel dropdown-menu">
                    <fieldset>
                      <form>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            <input type="email" class="form-control" placeholder="Email">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                            <input type="password" class="form-control" placeholder="Password">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="checkbox-inline"><input type="checkbox" value="">Remember me </label>
                          <a class="pull-right" href="#">Password?</a>
                        </div>
                        <button class="btn btn-primary btn-block no-border">sign in</button>
                      </form>
                    </fieldset>
                </div>
                <!-- /Form Panel -->
                
              </div>
              <!-- /Btn Wrapper -->
              
              <!-- Navbar btn-group -->
              <div class="navbar-btn-group btn-group navbar-left no-margin-l-xs">
              
                <!-- Btn Wrapper -->
                <div class="btn-wrapper dropdown">
                
                  <a class="btn btn-default no-border" data-toggle="dropdown"><i class="ti ti-search"></i></a>
                  
                  <!-- Form Panel -->
                  <div id="nav-search" class="form-panel nav-form-panel nav-search dropdown-menu">
                    <fieldset>
                      <!-- Search -->
                      <form class="form-inline no-margin-x">
                        <div class="form-group no-margin-b">
                          <input type="text" placeholder="Search anything" class="form-control">
                          <button class="btn btn-primary" type="button">go</button>
                        </div>
                      </form>
                      <!-- /Search -->
                    </fieldset>
                  </div>
                  <!-- /Form Panel -->
                </div>
                <!-- /Btn Wrapper -->
                
                <!-- Btn Wrapper -->
                <div class="btn-wrapper dropdown">
                
                  <a class="btn btn-primary no-border" data-toggle="dropdown"><b class="count">3</b><i class="ti ti-bag"></i></a>
                  
                  <!-- Form Panel -->
                  <div class="form-panel nav-form-panel dropdown-menu">
                  
                    <header class="case-c">(3) Items - $500.00</header>
                    
                    <fieldset>
                      <ul class="vlinks vlinks-iconed vlinks-ruled-dots no-margin-y">
                        <li><img src="images/products/product1.jpg" alt="" class="img"><a class="title">Some Product</a><span class="meta">2 x $40.50</span></li>
                        <li><img src="images/products/product2.jpg" alt="" class="img"><a class="title">Some Product</a><span class="meta">2 x $40.50</span></li>
                        <li><img src="images/products/product3.jpg" alt="" class="img"><a class="title">Some Product</a><span class="meta">2 x $40.50</span></li>
                      </ul>
                    </fieldset>
                    
                    <fieldset>
                      <div class="row grid-10">
                        <div class="col-md-6">
                          <button class="btn btn-base btn-bigger btn-block mgb-10-xs">view cart</button>
                        </div>
                        <div class="col-md-6">
                          <button class="btn btn-primary btn-bigger btn-block">checkout</button>
                        </div>
                      </div>
                    </fieldset>
                    
                  </div>
                  <!-- /Form Panel -->
                  
                </div>
                <!-- /Btn Wrapper -->

              </div>
              <!-- /Navbar right -->
              </div>
            <!-- Nav Buttons -->
            
            <!-- Navbar Collapse-->
            <div class="collapse navbar-collapse">
            
              <!-- Navbar Right -->
              <ul class="nav navbar-nav navbar-right case-u">
                <li><a href="index.html">home</a></li>
                <li class="dropdown mega active">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">pages<i class="fa fa-angle-down toggler visible-xs"></i></a>
                  
                  <!-- Mega Menu -->
                  <div class="mega-menu dropdown-menu">
                    <!-- Row -->
                    <div class="row">
                    
                      <!-- col -->
                      <div class="col-md-3">
                        <img class="featured-img hidden-xs hidden-sm" src="images/menu-pic.jpg" alt="" />
                      </div>
                      <!-- /col -->
                      
                      <!-- col -->
                      <div class="col-md-3">
                        <h5>business pages</h5>
                        <ul class="links">
                          <li><a href="about.html">about</a></li>
                          <li><a href="services.html">services</a></li>
                          <li><a href="portfolio.html">portfolio</a></li>
                          <li><a href="price-plans.html">price plans</a></li>
                          <li><a href="team.html">team</a></li>
                        </ul>
                      </div>
                      <!-- /col -->
                      
                      <!-- col -->
                      <div class="col-md-3">
                        <h5>common pages</h5>
                        <ul class="links">
                          <li><a href="side-bar.html">side bar</a></li>
                          <li><a href="error-404.html">404</a></li>
                          <li><a href="error-generic.html">generic error</a></li>
                          <li><a href="contact.html">contact</a></li>
                          <li><a href="faq.html">faq</a></li>
                        </ul>
                      </div>
                      <!-- /col -->
                      
                      <!-- col -->
                      <div class="col-md-3">
                        <h5>other pages</h5>
                        <ul class="links">
                          <li><a href="blog.html">blog</a></li>
                          <li><a href="blog-post.html">single post</a></li>
                          <li><a href="login.html">login</a></li>
                          <li><a href="register.html">register</a></li>
                          <li><a href="one-pager.html">One page site</a></li>
                        </ul>
                      </div>
                      <!-- /col -->
                    </div>
                    <!-- /Row -->
                  </div>
                  <!-- /Mega Menu -->
                  
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">shop<i class="fa fa-angle-down toggler visible-xs"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="shop-home.html">shop home</a></li>
                    <li><a href="shop-category.html">Category</a></li>
                    <li><a href="shop-category-fullw.html">Category Full width</a></li>
                    <li><a href="shop-product.html">Product</a></li>
                    <li><a href="shop-cart.html">Cart</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">features<i class="fa fa-angle-down toggler visible-xs"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="uikit/index.html">elements</a></li>
                    <li><a href="uikit/index.html#roboto.demo?viewer=ajax">fonts</a></li>
                    <li><a href="uikit/index.html#font-awesome.demo?viewer=ajax">icons</a></li>
                    <li><a href="uikit/index.html#animations.demo?viewer=ajax">animations</a></li>
                    <li><a href="uikit/index.html#bxslider.demo?viewer=ajax">slider</a></li>
                  </ul>
                </li>

              </ul>
              <!-- /Navbar right -->
            </div>
            <!-- /Navbar Collapse -->
          </div>
          <!-- /Container
          .......................................... -->
          
        </nav>
        <!-- Nav Main 
        .......................................... -->
        
      </section>
      <!-- /Nav Block
      ============================================ -->
      
      <!-- Intro Block
      ============================================ -->
      <div class="intro-block intro-page bcolor-xxl-bg border-bottom">
      
        <!-- Container -->
        <div class="container cont-main">
          <!-- Section Title -->
          <div class="section-title no-margin-b">
            <h2>work</h2>
            <p class="width-50pc hidden-xs">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
          <!-- /Section Title -->
        </div>
        <!-- /Container -->
      
      </div>
      <!-- /Intro Block
      ============================================ -->

    <!-- Content Block
    ============================================-->
    <section class="content-block default-bg">
    
      <!-- Container -->
      <div class="container cont-main">

        <!-- Filter -->
        <ul class="hlinks hlinks-boxed portfolio-filter">
          <li class="active all"><a href="#">All</a></li>
          <li class="web"><a href="#">web</a></li>
          <li class="marketing"><a href="#">marketing</a></li>
          <li class="branding"><a href="#">branding</a></li>
          <li class="graphics"><a href="#">graphics</a></li>
        </ul>
        <!-- /Filter -->
        
        <!-- Portfolio Grid-->
        <ul class="portfolio-grid row mgb-30">
            
          <!-- Column -->
          <li data-type="web" data-id="id-1" class="col-xs-12 col-sm-4 col-md-4">
            <!-- fader -->
            <div class="fader project">
              <img alt="photo" src="images/portfolio/pic1.jpg">
              <!-- hidden -->
              <div class="fader-hidden pcolor-bg">
                <!-- stuff to be revealed here ! -->
                <div class="vcenter align-center">
                  <div class="vcenter-this project-links">
                    <a href="images/portfolio/pic1.jpg" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                    <a class="title" href="#">project title name</a>
                    <span>category name</span>
                  </div>
                </div>
                <!-- /stuff to be revealed here ! -->
              </div>
              <!-- /hidden-->
            </div>
            <!-- /fader -->
          </li>
          <!-- Column /END -->
              
          <!-- Column -->
          <li data-type="graphics" data-id="id-2" class="col-xs-12 col-sm-4 col-md-4">
            <!-- fader -->
            <div class="fader project">
              <img alt="photo" src="images/portfolio/pic1.jpg">
              <!-- hidden -->
              <div class="fader-hidden pcolor-bg">
                <!-- stuff to be revealed here ! -->
                <div class="vcenter align-center">
                  <div class="vcenter-this project-links">
                    <a href="images/portfolio/pic1.jpg" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                    <a class="title" href="#">project title name</a>
                    <span>category name</span>
                  </div>
                </div>
                <!-- /stuff to be revealed here ! -->
              </div>
              <!-- /hidden-->
            </div>
            <!-- /fader -->
          </li>
          <!-- Column /END -->
          
          <!-- Column -->
          <li data-type="graphics" data-id="id-3" class="col-xs-12 col-sm-4 col-md-4">
            <!-- fader -->
            <div class="fader project">
              <img alt="photo" src="images/portfolio/pic1.jpg">
              <!-- hidden -->
              <div class="fader-hidden pcolor-bg">
                <!-- stuff to be revealed here ! -->
                <div class="vcenter align-center">
                  <div class="vcenter-this project-links">
                    <a href="images/portfolio/pic1.jpg" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                    <a class="title" href="#">project title name</a>
                    <span>category name</span>
                  </div>
                </div>
                <!-- /stuff to be revealed here ! -->
              </div>
              <!-- /hidden-->
            </div>
            <!-- /fader -->
          </li>
          <!-- Column /END -->
          
          <!-- Column -->
          <li data-type="marketing" data-id="id-4" class="col-xs-12 col-sm-4 col-md-4">
            <!-- fader -->
            <div class="fader project">
              <img alt="photo" src="images/portfolio/pic1.jpg">
              <!-- hidden -->
              <div class="fader-hidden pcolor-bg">
                <!-- stuff to be revealed here ! -->
                <div class="vcenter align-center">
                  <div class="vcenter-this project-links">
                    <a href="images/portfolio/pic1.jpg" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                    <a class="title" href="#">project title name</a>
                    <span>category name</span>
                  </div>
                </div>
                <!-- /stuff to be revealed here ! -->
              </div>
              <!-- /hidden-->
            </div>
            <!-- /fader -->
          </li>
          <!-- Column /END -->
          
          <!-- Column -->
          <li data-type="branding" data-id="id-5" class="col-xs-12 col-sm-4 col-md-4">
            <!-- fader -->
            <div class="fader project">
              <img alt="photo" src="images/portfolio/pic1.jpg">
              <!-- hidden -->
              <div class="fader-hidden pcolor-bg">
                <!-- stuff to be revealed here ! -->
                <div class="vcenter align-center">
                  <div class="vcenter-this project-links">
                    <a href="images/portfolio/pic1.jpg" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                    <a class="title" href="#">project title name</a>
                    <span>category name</span>
                  </div>
                </div>
                <!-- /stuff to be revealed here ! -->
              </div>
              <!-- /hidden-->
            </div>
            <!-- /fader -->
          </li>
          <!-- Column /END -->
          
          <!-- Column -->
          <li data-type="graphics" data-id="id-6" class="col-xs-12 col-sm-4 col-md-4">
            <!-- fader -->
            <div class="fader project">
              <img alt="photo" src="images/portfolio/pic1.jpg">
              <!-- hidden -->
              <div class="fader-hidden pcolor-bg">
                <!-- stuff to be revealed here ! -->
                <div class="vcenter align-center">
                  <div class="vcenter-this project-links">
                    <a href="images/portfolio/pic1.jpg" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                    <a class="title" href="#">project title name</a>
                    <span>category name</span>
                  </div>
                </div>
                <!-- /stuff to be revealed here ! -->
              </div>
              <!-- /hidden-->
            </div>
            <!-- /fader -->
          </li>
          <!-- Column /END -->
          
          <!-- Column -->
          <li data-type="web" data-id="id-7" class="col-xs-12 col-sm-4 col-md-4">
            <!-- fader -->
            <div class="fader project">
              <img alt="photo" src="images/portfolio/pic1.jpg">
              <!-- hidden -->
              <div class="fader-hidden pcolor-bg">
                <!-- stuff to be revealed here ! -->
                <div class="vcenter align-center">
                  <div class="vcenter-this project-links">
                    <a href="images/portfolio/pic1.jpg" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                    <a class="title" href="#">project title name</a>
                    <span>category name</span>
                  </div>
                </div>
                <!-- /stuff to be revealed here ! -->
              </div>
              <!-- /hidden-->
            </div>
            <!-- /fader -->
          </li>
          <!-- Column /END -->
        
          <!-- Column -->
          <li data-type="branding" data-id="id-8" class="col-xs-12 col-sm-4 col-md-4">
            <!-- fader -->
            <div class="fader project">
              <img alt="photo" src="images/portfolio/pic1.jpg">
              <!-- hidden -->
              <div class="fader-hidden pcolor-bg">
                <!-- stuff to be revealed here ! -->
                <div class="vcenter align-center">
                  <div class="vcenter-this project-links">
                    <a href="images/portfolio/pic1.jpg" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                    <a class="title" href="#">project title name</a>
                    <span>category name</span>
                  </div>
                </div>
                <!-- /stuff to be revealed here ! -->
              </div>
              <!-- /hidden-->
            </div>
            <!-- /fader -->
          </li>
          <!-- Column /END -->
          
          <!-- Column -->
          <li data-type="marketing" data-id="id-9" class="col-xs-12 col-sm-4 col-md-4">
            <!-- fader -->
            <div class="fader project">
              <img alt="photo" src="images/portfolio/pic1.jpg">
              <!-- hidden -->
              <div class="fader-hidden pcolor-bg">
                <!-- stuff to be revealed here ! -->
                <div class="vcenter align-center">
                  <div class="vcenter-this project-links">
                    <a href="images/portfolio/pic1.jpg" data-gal="prettyPhoto[portfolio]"><i class="fa fa-expand"></i></a>
                    <a class="title" href="#">project title name</a>
                    <span>category name</span>
                  </div>
                </div>
                <!-- /stuff to be revealed here ! -->
              </div>
              <!-- /hidden-->
            </div>
            <!-- /fader -->
          </li>
          <!-- Column /END -->
              
        </ul>
        <!-- /Portfolio -->

        <!-- Pagination -->
        <ul class="pagination align-center">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <!-- /Pagination -->

        </div>
        <!-- /Container -->
        
      </section>
      <!-- /Content Block
      ============================================-->

      <!-- Footer
      =================================================== -->
      <footer class="footer-block">
      
        <!-- Container -->
        <div class="container main clearfix">
        
          <!-- Brand -->
          <div class="brand-col">
            <div class="brand">
              <img src="images/logo-footer.png" alt="logo"/>
            </div>
          </div>
          <!-- /Brand -->
          
          <!-- Links -->
          <div class="links-col">
            <!-- Row -->
            <div class="row-fluid">
              <!-- Col -->
              <div class="col-xs-6 col-sm-3 col-md-3">
                <h5>guest</h5>
                <ul class="v-links">
                  <li><a href="#">login</a></li>
                  <li><a href="#">sign up</a></li>
                  <li><a href="#">customer support</a></li>
                  <li><a href="#">information</a></li>
                </ul>
              </div>
              <!-- Col -->
              
              <!-- Col -->
              <div class="col-xs-6 col-sm-3 col-md-3">
                <h5>information</h5>
                <ul class="v-links">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Delivery Informations</a></li>
                  <li><a href="#">Terms and conditions</a></li>
                  <li><a href="#">Return Policy</a></li>
                  <li><a href="#">Shipping and Deliveries</a></li>
                  <li><a href="#">Enquiries</a></li>
                </ul>
              </div>
              <!-- /Col -->
              
              <!-- Col -->
              <div class="col-xs-6 col-sm-3 col-md-3">
                <h5>member</h5>
                <ul class="v-links">
                  <li><a href="#">Account</a></li>
                  <li><a href="#">Wishlist and Favourites</a></li>
                  <li><a href="#">Purchase History</a></li>
                  <li><a href="#">View Cart</a></li>
                </ul>
              </div>
              <!-- /Col -->
              
              <!-- Col -->
              <div class="col-xs-6 col-sm-3 col-md-3 newsletter">
                <h5>newsletter</h5>
                <form>
                  <input type="text" class="form-control" placeholder="Email Address">
                  <button class="btn btn-primary" type="button">get newsletter</button>
                </form>
              </div>
              <!-- /Col -->
           </div>
           <!-- /Row -->
          </div>
          <!-- /Links -->

        </div>
        <!-- /Container ->
        
        <!-- Bottom -->
        <div class="bottom">
          <!-- Container -->
          <div class="container">
            <span class="copy-text">&copy; 2015 Your Corporation. Theme by <a href="#">Rahisi</a> Themes.</span>
            <ul class="payment-methods clearfix">
              <li><img alt="card" src="images/cards/visa.png"></li>
              <li><img alt="card" src="images/cards/paypal.png"></li>
              <li><img alt="card" src="images/cards/mastercard.png"></li>
              <li><img alt="card" src="images/cards/cirrus.png"></li>
              <li><img alt="card" src="images/cards/visa-debit.png"></li>
            </ul>
          </div>
          <!-- /Container -->
        </div>
        <!-- /Bottom -->
        
        
      </footer>
      <!-- /Footer
      =================================================== -->
      
    </div>
    <!-- /Page Wrapper
    ++++++++++++++++++++++++++++++++++++++++++++++ -->

    <!-- Javascript
    ================================================== -->
    <script src="uikit/js/jquery-latest.min.js"></script>
    <script src="uikit/bootstrap/js/bootstrap.min.js"></script>
    <script src="uikit/js/uikit.min.js"></script>
    <script src="uikit/js/jquery.quicksand.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
      
         // Portfolio script
        var $portfolioClone = $(".portfolio-grid").clone();
        $(".portfolio-filter a").click(function (e) {

          $(this).parent().removeClass("active").siblings().removeClass("active");

          var $filter = $(this).parent().attr("class");

          if ($filter == "all") {
            var $filteredPortfolio = $portfolioClone.find("li");
          } else {
            var $filteredPortfolio = $portfolioClone.find("li[data-type~=" + $filter + "]");
          }

          $(".portfolio-grid").quicksand($filteredPortfolio, function () { $("a[data-gal^='prettyPhoto']").prettyPhoto({ hook: 'data-gal', show_title: false }) });


          $(this).parent().addClass("active");
          e.preventDefault();
        });
          
      });
    </script>
    <!-- /JavaScript
    ================================================== -->
  </body>
</html>
